

/* foreground container background */
.div3 {
  background-image: url("/assets/img17.jpg");
  background-size: cover;
  background-position: center;
  /* border-radius: 0rem; */
   border-radius: 0 0 60px 60px;
}
